{{addDeath|json}}
<div class="page-header">
  <div class="container">
    <h1 style="text-align:center"><b>Add Death Details</b></h1>
  </div>
</div>
<div class="container col-xs-12">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/logged-in/deaths" color="primary" mat-raised-button><mat-icon>chevron_left</mat-icon> Go Back</a>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-8">
       <form #addDeathForm="ngForm">

<!-- NAME , AGE AND ADDRESS -->
        <div class="row">
           <div class="col-xs-4">
             <mat-form-field appearance="outline" >
               <mat-label > Name</mat-label>
               <input type="text" style="text-transform: uppercase" matInput [(ngModel)]="addDeath.name" required  name="name"  >
             </mat-form-field>
           </div>
           <div class="col-xs-4">
            <mat-form-field appearance="outline">
              <mat-label> Age</mat-label>
              <input type="number" matInput [(ngModel)]="addDeath.age" required   name="age"  >
            </mat-form-field>
           </div>
           <div class="col-xs-4">
            <mat-form-field appearance="outline">
              <mat-label> Address</mat-label>
              <input type="text" matInput style="text-transform: uppercase" [(ngModel)]="addDeath.Address" required   name="address"   >
            </mat-form-field>
           </div>
        </div>

<!-- BLOCK, CONTACTNUMBER AND Gendre  -->

        <div class="row">

          <div class="col-xs-4">
            <mat-form-field appearance="outline" >
              <mat-label > BLOCK</mat-label>
              <input type="text" matInput style="text-transform: uppercase" [(ngModel)]="addDeath.Block" required  name="block"   >
            </mat-form-field>
          </div>
          <div class="col-xs-4">
           <mat-form-field appearance="outline">
             <mat-label> CONTACT NUMBER</mat-label>
             <input type="number" matInput [(ngModel)]="addDeath.ContactNumber" required  name="contactNumber"  >
           </mat-form-field>
          </div>
          <div class="col-xs-4">
           <mat-form-field appearance="outline">
             <mat-label> Gender</mat-label>
             <input type="text" matInput style="text-transform: uppercase" [(ngModel)]="addDeath.Gender" required  name="gender"  >
           </mat-form-field>
          </div>


        </div>


<!-- DateOfDeath,DaysAdmitted and DaysAdmittedInICU -->


        <div class="row">
          <div class="col-xs-4">
            <mat-form-field appearance="outline" >
              <mat-label style="color: red;" > DateOfDeath</mat-label>
              <input   matInput [matDatepicker]="picker" [(ngModel)]="addDeath.DateOfDeath" required  name="dateOfDeath"  >
             <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-xs-4">
           <mat-form-field appearance="outline">
             <mat-label> DateOfAdmission</mat-label>
             <input   matInput [matDatepicker]="picker1" [(ngModel)]="addDeath.DateOfAdmission" required  name="dateOfAdmission"  >
             <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
             <mat-datepicker #picker1></mat-datepicker>
           </mat-form-field>
          </div>
          <div class="col-xs-4">
           <mat-form-field appearance="outline">
             <mat-label> DaysAdmitted</mat-label>
             <input type="text" matInput style="text-transform: uppercase" [(ngModel)]="addDeath.DaysAdmitted" required    name="daysAdmitted"  >
           </mat-form-field>
          </div>
        </div>

        <!-- daysInOxygenSupportOrVentillator,daysTestedBeforeDeath,DaysAdmittedInICU -->
        <div class="row"> <div class="col-xs-4">
             <mat-form-field appearance="outline" >
               <mat-label > daysInOxygenSupportOrVentillator</mat-label>
               <input type="text" style="text-transform: uppercase" matInput [(ngModel)]="addDeath.DaysInOxygenSupportOrVentillator" required  name="daysInOxygenSupportOrVentillator"   >
             </mat-form-field>
           </div>
           <div class="col-xs-4">
            <mat-form-field appearance="outline">
              <mat-label> daysTestedBeforeDeath</mat-label>
              <input type="text" style="text-transform: uppercase" matInput [(ngModel)]="addDeath.DaysTestedBeforeDeath" required  name="daysTestedBeforeDeath"  >
            </mat-form-field>
           </div>
           <div class="col-xs-4">
            <mat-form-field appearance="outline">
              <mat-label> DaysAdmittedInICU</mat-label>
              <input type="text" style="text-transform: uppercase" matInput [(ngModel)]="addDeath.DaysAdmittedInICU" required  name="daysAdmittedInICU"  >
            </mat-form-field>
           </div>
          </div>


          <!-- hospitalWhereAdmitted,sampleTestedAt,sampleCollectedDate -->

        <div class="row">
          <div class="col-xs-4">
            <mat-form-field appearance="outline" >
              <mat-label > hospitalWhereAdmitted</mat-label>
              <input type="text" style="text-transform: uppercase" matInput [(ngModel)]="addDeath.HospitalWhereAdmitted" required  name="hospitalWhereAdmitted"   >
            </mat-form-field>
          </div>
          <div class="col-xs-4">
           <mat-form-field appearance="outline">
             <mat-label> sampleTestedAt</mat-label>
             <input type="text" style="text-transform: uppercase" matInput [(ngModel)]="addDeath.SampleTestedAt" required  name="sampleTestedAt"  >
           </mat-form-field>
          </div>
          <div class="col-xs-4">
           <mat-form-field appearance="outline">
             <mat-label> sampleCollectedDate</mat-label>
             <input   matInput [matDatepicker]="pickerr" [(ngModel)]="addDeath.SampleCollected" required  name="sampleCollected"  >
             <mat-datepicker-toggle matSuffix [for]="pickerr"></mat-datepicker-toggle>
             <mat-datepicker #pickerr></mat-datepicker>
           </mat-form-field>
          </div>

        </div>


        <!-- underlyingCondition,vaccinationStatus,Remarks -->
        <div class="row">

          <div class="col-xs-4">
            <mat-form-field appearance="outline" >
              <mat-label > underlyingCondition</mat-label>
              <input type="text" style="text-transform: uppercase" matInput [(ngModel)]="addDeath.UnderlyingCondition" required  name="underlyingCondition"   >
            </mat-form-field>
          </div>
          <div class="col-xs-4">
           <mat-form-field appearance="outline">
             <mat-label> vaccinationStatus</mat-label>
             <input type="text" style="text-transform: uppercase" matInput [(ngModel)]="addDeath.VaccinationStatus" required  name="vaccinationStatus"  >
           </mat-form-field>
          </div>
          <div class="col-xs-4">
           <mat-form-field appearance="outline">
             <mat-label> Remarks</mat-label>
             <textarea matInput style="text-transform: uppercase" rows="3" [(ngModel)]="addDeath.Remarks" required  name="remarks"  ></textarea>
           </mat-form-field>
          </div>


        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="row between-xs">
              <button mat-raised-button color="primary" (click)="onSave()">Add</button>

            </div>

          </div>
        </div>

       </form>

    </div>



    <div class="col-xs-4 right-div" style="margin-bottom:2rem" >
      <img alt="My image name" src="./assets/images/covid.png" width="500px" height="90%" style="align-items: center;">
    </div>
  </div>
