<div class="row">
  <a routerLink="/logged-in/dash-board"><mat-icon>computer</mat-icon>&nbsp; &nbsp; Dashboard</a>
</div>

<div class="col-xs-12"></div>


<div class="row">
  <a routerLink="#"><mat-icon>computer</mat-icon>&nbsp; &nbsp; Samples vs cases</a>
</div>

<div class="col-xs-12"></div>


<div class="row">
  <a routerLink="#"><mat-icon>computer</mat-icon>&nbsp; &nbsp; case classification</a>
</div>

<div class="col-xs-12"></div>

<div class="row">
  <a routerLink="/logged-in/deaths"><mat-icon>computer</mat-icon>&nbsp; &nbsp; Deaths  </a>
</div>

<div class="col-xs-12"></div>
